/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap'); */

:root {
  --default-black: #151515;
  --default-brown: #d5966c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h3 {
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.mobile {
  display: block;
}

.tablet-latop-desktop {
  display: none;
}

.cta {
}

.cta img {
  width: 100%;
  height: 240px;
}

.cta h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.1rem;
}

.cta section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cta section p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  text-align: center;
}

.cta a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--default-black);
  height: 3rem;
  width: 70%;
  border: 0px;
}

.cta a h3 {
  color: white;
  font-size: 1.3rem;
  /* font-weight: 800; */
  /* height: 100%; */
  width: 80%;
  background-color: var(--default-black);
}

.cta a div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-brown);
  height: 100%;
  padding: 1rem;
  width: 20%;
}

.cta a img {
  height: 24px;
  width: 0.5rem;
}

main {
  margin-top: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  width: 95%;
}

.top img {
  height: 320px;
  width: 100%;
}

.top h2 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.gallery img {
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-black);
  color: white;
  height: 293px;
  padding: 2rem;
  margin-top: 0.7rem;
  line-height: 1.7rem;
}

.bottom {
  margin-bottom: 75px;
}

.bottom h1 {
  line-height: 2.1rem;
  font-weight: 800;
}

.bottom p {
  margin-top: 0.7rem;
}

.footer-section {
  background-color: var(--default-black);
  height: 336px;
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 2rem;
  padding: 2rem;
}

.footer-section h2 {
  font-weight: 600;
}

.footer-section p {
  line-height: 1.7rem;
}

.social {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

/* Mobile screens */
@media screen and (min-width: 375px) {
}

/* Tablet screens */
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .tablet-latop-desktop {
    display: block;
  }
  .tablet-latop-desktop .tablet {
    display: block;
  }

  .tablet-latop-desktop .laptop {
    display: none;
  }

  .tablet-header .tablet {
    display: block;
    width: 100%;
    height: 800px;
  }

  .tablet-header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
  }

  .tablet-header .left img {
    /* background: url(./assets/tablet/image-hero.jpg); */
    width: 100%;
    height: 700px;
  }

  .tablet-header .right {
    background: white;
    height: 100%;
    position: relative;
  }

  .tablet-header .right .description {
    position: absolute;
    z-index: 4000;
    right: 31%;
    top: 21.5%;
    width: 93%;
  }

  .tablet-header .right .description h1 {
    line-height: 2.2rem;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 2rem;
  }

  .tablet-header .right .description p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 50px;
  }

  .tablet-header .right a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default-black);
    height: 3rem;
    width: 85%;
    border: 0px;
  }

  .tablet-header .right a h3 {
    color: white;
    font-size: 1.3rem;
    /* font-weight: 800; */
    /* height: 100%; */
    width: 80%;
    background-color: var(--default-black);
  }

  .tablet-header .right a div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-brown);
    height: 100%;
    padding: 1rem;
    width: 20%;
  }

  .tablet-header .right a img {
    height: 24px;
    width: 0.5rem;
  }

  /* body css */
  .tablet-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .quote-container {
    display: grid;
    grid-template-columns: 39% 59%;
    column-gap: 2%;
    margin-bottom: 20px;
    width: 100%;
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quote-container .quote-image img {
    width: 100%;
    height: 375px;
    /* display: flex;
    justify-content: flex-end; */
  }

  .tablet-container .quote h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .tablet-container .quote p {
    line-height: 1.7rem;
    font-weight: 1.3rem;
    width: 85%;
  }

  .tablet-container .gallery-cont {
    display: grid;
    grid-template-columns: 59% 39%;
    column-gap: 2%;
    height: 750px;
    overflow-y: hidden;
  }

  .tablet-container .gallery-cont .gallery_left {
    width: 100%;
    height: 100%;
  }

  .tablet-container .gallery-cont .gallery_left img {
    width: 100%;
    height: 100%;
  }

  .tablet-container .gallery-cont .gallery_right {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    height: 100%;
  }

  .tablet-container .gallery-cont .gallery_right .black-box {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-content: center; */
    min-height: 445px;
    width: 100%;
    background: black;
    color: white;
    padding: 1.5rem;
    padding-top: 3.5rem;
  }

  .tablet-container .gallery-cont .gallery_right .black-box h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .tablet-container .gallery-cont .gallery_right .black-box p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .tab-foot {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 1.5%;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background: black;
    margin-top: 50px;
    width: 100%;
    color: white;
  }

  .tab-foot p {
    font-size: 0.9rem;
  }

  .tab-foot h1 {
    font-weight: 700;
    font-size: 1.7rem;
  }

  .tab-foot .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
  }

  /* .tab-foot .social-media img {
    width: 20px;
    height: 20px;
  } */
}

/* laptops */
@media screen and (min-width: 1024px) {
  /* .tablet-latop-desktop .tablet {
    display: none;
  } */

  /* .tablet-container {
    display: none;
  } */

  .quote-container .quote-image {
    justify-content: flex-end;
  }

  .tablet-latop-desktop .mobile {
    display: none;
  }

  .tablet-latop-desktop .laptop {
    display: none;
  }

  .tablet-container .gallery-cont .gallery_right .black-box {
    width: 100%;
    background: black;
  }
}

@media screen and (min-width: 1280px) {
  .tablet-container .gallery-cont .gallery_left img {
    height: 1087px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .tablet-latop-desktop .laptop {
    display: block;
    width: 100%;
  }

  .tablet-container {
    display: none;
  }

  .tablet-latop-desktop .tablet {
    display: none;
  }

  .tablet-latop-desktop .mobile {
    display: none;
  }

  .laptop-header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto 30%;
    height: 100%;
  }
  .laptop-header .left {
    background: var(--default-black);
    height: 799px;
  }

  .laptop-header .middle img {
    width: 100%;
    height: 800px;
  }

  .laptop-header .right {
    background: white;
  }

  .tablet-header .right .description {
    position: absolute;
    z-index: 4000;
    right: 17%;
    top: 3.1%;
    width: 93%;
  }

  .laptop-header h1 {
    position: absolute;
    color: white;
    z-index: 3000;
    left: 16%;
    top: 20%;
    font-size: 5rem;
    font-weight: 800;
  }

  .laptop-header h1 .lery {
    color: black;
  }

  .two-color-text {
    background: linear-gradient(to right, #ffffff 50%, #000000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .laptop-header .description {
    position: absolute;
    z-index: 3000;
    right: 11.3%;
    top: 20%;
    width: 23%;
  }

  .laptop-header .description p {
    /* position: absolute; */
    z-index: 3000;
    right: 13%;
    top: 20%;
    width: 77%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: 50px;
  }

  .laptop-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default-black);
    height: 3rem;
    width: 60%;
    border: 0px;
  }

  .laptop-header a h3 {
    color: white;
    font-size: 1.3rem;
    /* font-weight: 800; */
    /* height: 100%; */
    width: 80%;
    background-color: var(--default-black);
  }

  .laptop-header a div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-brown);
    height: 100%;
    padding: 1rem;
    width: 20%;
  }

  .laptop-header a img {
    height: 24px;
    width: 0.5rem;
  }

  .container {
    padding-left: 17rem;
    padding-right: 17rem;
  }

  .container .day-at-meseum {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;

    margin-bottom: 10px;
  }

  .container .day-at-meseum .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2%;
  }

  .container .day-at-meseum .left h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.3rem;
    width: 55%;
  }

  .container .day-at-meseum .left p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    width: 65%;
  }

  .container .day-at-meseum .right {
    /* background: url(./assets/tablet/image-grid-1.jpg); */
  }

  .container .day-at-meseum .right img {
    width: 100%;
    height: 400px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: 59% 39%;
    gap: 2%;
  }

  .gallery-container .left img {
    height: 720px;
    width: 100%;
  }

  .gallery-container .right {
    display: flex;
    flex-direction: column;
  }

  .gallery-container .right img {
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery-container .dark-box {
    color: white;
    height: 350px;
    width: 100%;
    background-color: black;
    padding: 10%;
  }

  .gallery-container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .gallery-container p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .tablet-latop-desktop footer.laptop {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 244px;
    background: black;
    width: 100%;
    padding-left: 17rem;
    padding-right: 17rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 50px;
    color: white;
  }

  .tablet-latop-desktop footer.laptop h1 {
    font-weight: 800;
    line-height: 1.7rem;
  }

  .tablet-latop-desktop footer.laptop p {
    line-height: 1.7rem;
    font-size: 0.9rem;
  }

  .social-media {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-self: end;
    height: fit-content;
  }

  .social-media img:hover {
    cursor: pointer;
  }
}
